html,
body {
    height: 100%;
}

.productitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#productitem img {
    max-height: 100%;
    max-width: 100%;
}

.divsticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    z-index: 1000;
    margin: 10px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divsticky li {
    margin-right: auto;
}

.divsticky div {
    flex: 1;
    text-align: center;
}

.footer1 {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    padding: 10px;
    color: white;
    border: 0;
    background-color: #1d1e20;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;


}

.footer1 div {
    flex: 1;
    text-align: center;
}

.footer1 span {
    margin-left: auto;
}

.divflex {
    display: flex;
    justify-content: space-between;

}

.footersticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.remarkinput {
    width: 100%;
    height: 50px;
    margin: 5px;
    padding: 10px;

}

.payradioflex {
    display: flex;
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

.payradioflex span,
div,
p {
    margin: 5px;
}

.payradioflex p {
    font-size: 14px;
    color: #747373;
}

h2,
h4 {
    font-weight: bold;
}

.pdtcount {
    display: flex;
    align-items: center;
    width: 25%;
}

.pdtcount input {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 0px;
    border-radius: 50%;
    background-color: #e2dfdf;
}

.pdtcount input[value="-"]:hover {
    border: 5px;
    background-color: #bbb;
}

.pdtcount input[value="+"] {
    background-color: #bbb;
}

.pdtcount input[value="+"]:hover {
    background-color: #e2dfdf;

}

.cartitemspace {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.customedinfo,
.toppingsinfo,
.pdtrename {
    color: #747373;
    font-size: 14px;
}

.cartitemRevise {
    font-size: 14px;
    color: blue;
    cursor: pointer;
}
.neworder{
	color: blue;
    cursor: pointer;
}

.requiredfield {
    font-size: 14px;
    color: red;

}

.orderflex {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #b1afaf;
}

.ordername,
.orderrename {
    font-weight: bold;
    font-size: 16px;
}

.renamehidden {
    display: none;
}

.takeouterrmsg,
.payerrmsg {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.nocarttext {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.nocartdiv {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}
.viewmeun{
	color: rgb(131, 131, 247);
	cursor: pointer;
}